In [11]:
# Problem 2a: First five rows with odd-numbered columns
cars.iloc[:5, ::2]

             Model  cyl  gear
1    Mazda RX4 Wag    6     4
18     Honda Civic    4     4
28  Ford Pantera L    8     5

In [18]:
#b. Row with Model of 'Mazda RX4'
cars[cars['Model'] == 'Mazda RX4']

       Model   mpg  cyl   disp   hp  drat    wt   qsec  vs  am  gear  carb
0  Mazda RX4  21.0    6  160.0  110   3.9  2.62  16.46   0   1     4     4

In [19]:
#c. Camaro Z28 Cylinders
cars.loc[cars['Model'] == 'Camaro Z28', ['Model', 'cyl']]

         Model  cyl
23  Camaro Z28    8

In [20]:
#d. Selected models
cars.loc[cars['Model'].isin(['Mazda RX4', 'Ford Pantera L', 'Honda Civic']),['Model','cyl','gear']]

             Model  cyl  gear
0        Mazda RX4    6     4
18     Honda Civic    4     4
28  Ford Pantera L    8     5